<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="mon-compte.php">Mes informations</a>
            </li>
            <li>
                <a href="facture.php">Mes factures</a>
            </li>
            <li>
                <a href="adresses.php">Mes adresses</a>
            </li>
            <li>
                <a href="#">deconnexion</a>
            </li>
        </ul>
    </div>
</div>